@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');

/* ALL */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  body {
    background-color: #d1d1d181;
  }
  
  html {
    scrollbar-width: normal;
    scrollbar-color: #fff rgb(200, 255, 117);;
  }
  
  html::-webkit-scrollbar {
    width: 2.1vh;
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: #fff;
  }
  
  html::-webkit-scrollbar-track {
    background-color: rgb(200, 255, 117);
  }
  



/*HEADER*/



  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
    font-weight: 700;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #be935a;
    height: 12vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }



/*FOOTER*/




.footer-distributed{
	background-color: #be935a;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #345534;
}

/* MAIN */

.content {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  max-width: 100%;
  margin: 80px 250px 80px 250px;
}

.content-part h1 {
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  margin: 12px 0;
  padding-bottom: 1px;
  border-bottom: 3px solid #345534;
}

.content-part p  {
  font-size: 20px;
  padding-bottom: 12px;
}

.content-part a {
  color: #000;
  font-weight: bolder;
}

.content-part a:hover {
  filter: brightness(50);
  color: green;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #345534;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #000000;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media only screen and (min-width:1350px) {
  .content {
    margin: 180px 500px 180px 500px
  }

  .content-part h1 {
    font-size: 60px;
    font-weight: 700;
    border-bottom: 4px solid #345534;
  }
  
  .content-part p  {
    font-size: 27px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width:850px) {

  body {
    overflow-x: hidden;
  }

  .mobile-menu {
    display: block;
  }
    .nav-list {
      position: absolute;
      z-index: 3;
      top: 12vh;
      right: 0;
      width: 100%;
      height: 60vh;
      background: #232e25a4;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }

    .content {
      text-align: center;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      max-width: 100%;
      margin: 30px 5px 50px 5px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 42px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
    .footer-links{
      letter-spacing: 3px;
      word-spacing: 12px;
    }
}

@media only screen and (max-width: 480px) {
  body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }
}